<ion-header [translucent]="true">


<ion-content [fullscreen]="true">
 <div>
  <ion-card-content>
    <ion-card-header>
      <ion-card-title style="text-align: center;">Ingrese su email</ion-card-title>
      <ion-card-subtitle style="text-align: center;">para recivir su correo de cambio de clave</ion-card-subtitle>
    </ion-card-header>
      <ion-item>
      <ion-input placeholder="ingrese su email"></ion-input>
      <ion-icon name="person"></ion-icon>
      <div>
        <ion-button >
          ingresar
        </ion-button>
      </div>
    </ion-item>
  </ion-card-content>
 </div>
</ion-content>
